@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --max-width-desktop: 1440px;
  --max-width-mobilde: 375px;

  --clr-primary-400: hsl(300, 43%, 22%);
  --clr-primary-600: hsl(333, 80%, 67%);

  --clr-secondary-400: hsl(303, 10%, 53%);
  --clr-secondary-600: hsl(300, 24%, 96%);
  --clr-light: hsl(0, 0%, 100%);

  --fs-body: 15px;
  --ff-primary: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
}
